

h1{
	text-align: center;
	color:red;
	font-size:50px;
}

h2{
	text-align:right;
	float:right;
	border:1px solid black;
	font-size:40px;
	margin-top:0;
}

div{
	height: 200px;
	width: 440px;
	border: 1px solid black;
	float: left;
	margin-right: 10px;
	box-sizing: border-box;
	margin:10;
	padding:0;
}

#c1{
	background-color:orange;
	font-size:25px;
	position:relative;
	top:25px;
}

#c2{
	background-color:yellow;
	font-size:25px;
}

#c3{
	background-color:green;
	font-size:25px;
}

#p1 {
	background-color:green;
}

#p2 {
	background-color:pink;
}

#p3 {
	background-color:yellow;
}

@media (min-width: 992px) {
	p {

	}
}

@media (min-width: 768px max-width: 991px) {
	p {

	}
}

@media (max-width: 767px) {
	p{

	}
}